.wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 12px;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4 {
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
}

.wrapper img {
  margin-bottom: 0;
}

.wrapper h1 {
  font-weight: 500;
  line-height: 1.4;
  font-size: 24px;
}

.wrapper h2 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 20px;
}

.wrapper h3 {
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
  margin-bottom: 16px;
}

.wrapper h4 {
  font-weight: 600;
  line-height: 1.4;
  font-size: 14px;
  text-transform: none;
  margin: 16px 0;
  letter-spacing: 0;
}

.wrapper hr {
  margin: 24px 0;
  width: calc(100% + 32px);
  margin-left: -16px;
  background: rgba(255, 255, 255, 0.2);
  height: 2px;
}

.wrapper p {
  line-height: 2;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 16px;
}

.websiteWrapper {
  width: 50%;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: flex-end;
}

.websiteWrapper a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.48);
  box-shadow: none;
}

.logoWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.logoWrapper img {
  width: 42px;
  margin-bottom: 0;
  margin-right: 16px;
}

.bookWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 48px;
  padding: 0 16px;
  overflow: hidden;
}

.authorJob {
  opacity: 0.6;
}

.textCoverWrapper {
  display: flex;
  align-items: center;
}

.bookCover {
  width: 282px;
  margin-right: -126px;
  align-self: flex-end;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bookText {
  padding-right: 16px;
}

.bookText h1 {
  margin-bottom: 16px;
}

.buyButton {
  height: 36px;
  border-radius: 3px;
  background-color: #007acc;
  outline: 0;
  border: 0;
  width: calc(100% - 16px);
  margin-top: 32px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 2.5;
}

.theBookWrapper {
  padding: 16px;
  padding-top: 32px;
  background-color: #3d3d3b;
  color: white;
}

.theBookWrapper li {
  margin-bottom: 8px;
}

.tableSection {
  font-weight: 500;
  font-size: 12px;
  margin-top: 4px;
}

.tableItem {
  color: #e8e8e8;
  margin: 6px 0;
  margin-left: 8px;
}

.tableOfContents {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inverted {
  color: white;
}

.logoColor {
  width: 72px;
  margin-bottom: -65px !important;
  position: absolute;
  right: 0;
  top: -32px;
}

.theAuthor {
  padding: 16px;
  padding-top: 32px;
}

.authorPhoto {
  margin-top: -36px;
}

.authorPhotoWrapper {
  display: flex;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contacts {
  color: #007acc;
}

.contacts a {
  margin: 0 8px;
  color: #007acc;
}

.contacts a:first-child {
  margin-left: 0;
}

.questions {
  color: white;
  background-color: #007acc;
  padding: 16px;
  padding-top: 32px;
  font-size: 14px;
}

.questions a {
  color: white;
}

.copywright {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  opacity: 0.6;
}
