body {
  margin: 0;
  padding: 0;
  font-family: "Lucinda Console", Monaco, monospace;
  background: #efefef;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #1da8ab;
}

#app {
}
.profile {
  height: 100vh;
  position: relative;
}

.profile::after {
  content: "";
  background-size: cover;
  background: url(http://wallpapercave.com/wp/jnETzbZ.jpg);
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

}

.section {
  padding: 2%;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-top: 50px ;
  padding-bottom: 50px;
}

.profile__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  background-image: url(/images/profile.png);
  background-size: cover;
}

.profile__name {
  font-size: 2.5em;
  line-height: 1.8em;
  font-weight: bold;
}

.profile__function {
  font-size: 1.3em;
  line-height: 1.8em;
}

.profile__social {
  margin: 40px;
  min-height: 100px;
  line-height: 100px;
}

.icon-li {
  background-image: url(/images/li.png);
}

.icon-gh {
  background-image: url(/images/gh.png);
}

.icon-tw {
  background-image: url(/images/tw.png);
}

.social-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: auto 10px;
  border-radius: 50%;
  background-size: cover;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.experience {
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.card__head {
  height: 32px;
  line-height: 32px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}

.card__left {
  flex: 3 0 0;
  text-align: left;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card__content {
  padding: 16px;
}

.job {
  opacity: 0.3;
  transition: opacity: 0.333s;
}

.job:hover {
  opacity: 1;
}

.job__company {
  flex: 1 0 0;
  text-align: right;
  padding-right: 8px;
}

.job__function {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 16px;
}

.job__description {
  text-align: left;
}

.job__skills {
  text-align: left; 
  padding-left: 16px;
}

.job__skills__item {
  margin: 0;
  padding: 0;
}

.job--is-current {
  opacity: 1; 
}

.graph {
  height: 300px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}

.graph__bar {
  min-width: 30px;
  height: 0;
  margin: 0 8px;
  align-self: flex-end;
  width: calc(100% / 7);
  border-radius: 2px 2px 0px 0px;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
}

/*
Skills proficiency
*/

.skill__text{
  transform: rotate(-90deg) translateX(-100%) translateX(-10px);
  transform-origin: left top 0;
  float: left;
}


.spaced {
  margin-bottom: 40px;
}

.skill[data-skill="10"] {
  height: 10%
}
.skill[data-skill="20"] {
  height: 20%
}
.skill[data-skill="30"] {
  height: 30%
}
.skill[data-skill="40"] {
  height: 40%
}
.skill[data-skill="50"] {
  height: 50%
}
.skill[data-skill="60"] {
  height: 60%
}
.skill[data-skill="70"] {
  height: 70%
}
.skill[data-skill="80"] {
  height: 80%
}
.skill[data-skill="90"] {
  height: 90%
}
.skill[data-skill="100"] {
  height: 100%
}
